<%= link_to 'Back to Search Form',  root_path, class: 'btn btn-primary'%>
<hr>
<div class="col-xs-12">
  <div class="row col-xs-12">
   <center>
   Not found any results, please check the coordinate and radius again.
   <br>
   <i>Ex: lat: 10.790261, lng: 106.658642, radius: 1000</i>
   </center>
  </div>
</div>